---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		<ul>
			<li><a href="/posts/post-1/">first</a></li>
			<li><a href="/posts/post-2/">second</a></li>
			<li><a href="/posts/post-3/">third</a></li>
		</ul>
	</p>
</BaseLayout>
