---
const pageTitle = "博客";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>Skatia</h1>
		<a href="/">{pageTitle}</a>
		<a href="/about/">关于</a>
        <a href="/blog/">博客</a>

		<h1>我的博客</h1>
		<p>
			<ul>
				<li><a href="/posts/post-1/">first</a></li>
				<li><a href="/posts/post-2/">second</a></li>
				<li><a href="/posts/post-3/">third</a></li>
			</ul>
		</p>
	</body>
</html>
