---
const platform = "github";
const username = "uisaki";
import Social from "./Social.astro";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
    <p>个人链接</p>
<Social platform="github" username="uisaki" />
<Social platform="gitee" username="uisaki" />
<Social platform="qq" username="uisaki" />

</footer>
